.bioContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lilas);
  color: black;
}

.bio {
  max-inline-size: 66ch;
  text-align: justify;
}

.paragraph {
  padding: 1rem 1rem;
  margin: 0;
  border-radius: 1rem;
  transition: all 0.5s;
}

.paragraph:hover {
  color: white;
  background-color: blueviolet;
}
