.boxContainer {
  background-color: var(--lilas);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  background-color: white;
  border-radius: 1rem;
  width: 50dvw;
  display: flex;
  flex-direction: column;
}
