nav {
  display: flex;
  height: 8.5625rem;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.name {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  flex-grow: 1;
  display: flex;
  justify-content: start;
}

.links {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* flex-grow: 1; */
  display: flex;
  justify-content: center;
}

.socialMedias {
  flex-grow: 1;
  display: flex;
  justify-content: end;
}
